@import "styles/utils";

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  min-width: 114px;
  cursor: pointer;

  &.primary {
    color: #FFFFFF;
    background: #5267DF;
  }

  &.secondary {
    color: rgba(36, 42, 69, 0.75);
    background: #F7F7F7;
  }

  &.danger {
    color: #FFFFFF;
    background: #FA5959;
  }

  &.login {
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 2.3px;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 16px 0 15px;

    @include media(">desktop") {
      min-width: 111px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 1.5px;
      background: #FA5959;
      box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
      border-radius: 5px;
      border: 2px solid transparent;
      transition: background 0.3s, color 0.3s;
    }
  }
}
