@import "styles/utils";

.featureSection {

  .featuresTitleDescriptor {
    margin-bottom: 40px;
  }

  .tabContainer {
    margin-bottom: 72px;

    @include media(">desktop") {
      max-width: 730px;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      li {
        flex: 1;
      }
    }
  }

  .featureContainerWrapper {
    position: relative;
    margin-bottom: 77px;

    @include media(">desktop") {
      padding-bottom: 19px;
      margin-bottom: 149px;
    }

    &::before {
      position: absolute;
      top: 37px;
      left: -308px;
      width: 577px;
      height: 203px;
      background: #5267DF;
      border-radius: 316.5px;
      content: "";

      @include media(">desktop") {
        top: 83px;
        left: -360px;
        width: 1000px;
        height: 352px;
      }
    }
  }

  .featureContainer {
    position: relative;
    display: flex;
    grid-gap: 0px;
    transition: transform 0.6s;
    transform: translateX(calc(-100vw * var(--index)));

    > div {
      min-width: calc(100vw);
    }
  }

  .downloadTitledDescriptor {
    margin-bottom: 40px;

    @include media(">desktop") {
      margin-bottom: 48px;
    }
  }

  .extensionContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    @include media(">desktop") {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      grid-gap: 37px;

      > div {
        &:nth-child(2) {
          margin-top: 40px;
        }

        &:nth-child(3) {
          margin-top: 80px;
        }
      }
    }
  }
}
