@import "styles/utils";

.nav {
  display: none;
  text-align: center;

  @include media(">desktop") {
    display: block;
  }

  &.open {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    background: #242A45;
    opacity: 0.95;
    backdrop-filter: blur(32.6194px);
    z-index: 1;
    padding: 105px 0 48px;
    overscroll-behavior: contain;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    @include media(">desktop") {
      position: relative;
      flex-direction: row;
      background: #FFFFFF;
      padding: 0;
    }

    .header {
      @include media(">desktop") {
        display: flex;
        align-items: center;
        grid-gap: 48px;
      }
    }

    .sitemapContainer {
      font-size: 20px;
      line-height: 17px;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 24px;

      @include media(">desktop") {
        display: flex;
        justify-content: space-between;
        grid-gap: 48px;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 1.5px;
        color: #242A45;
        margin-bottom: 0;
      }

      li {
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        cursor: pointer;

        @include media(">desktop") {
          border-top: none;
        }

        a {
          flex: 1;
          padding: 24px 0;

          @include media(">desktop") {
            padding: 0;
            transition: color 0.3s;

            &:hover {
              color: #FA5959;
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);

          @include media(">desktop") {
            border-bottom: none;
          }
        }
      }
    }

    button {
      text-transform: uppercase;
    }

    .socialContainer {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      grid-gap: 40px;

      @include media(">desktop") {
        display: none;
      }
    }
  }
}
